body{
  margin:0;
  font-family: Arial;
  background:#0b0f14;
  color:white;
}

header{
  text-align:center;
  padding:20px;
  background:#111827;
  border-bottom:2px solid #22c55e;
}

.balance{
  color:#22c55e;
  font-size:18px;
}

.card{
  background:#111827;
  margin:15px;
  padding:15px;
  border-radius:15px;
}

.stats{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
  font-size:14px;
  color:#9ca3af;
}

.task{
  background:#0f172a;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.task span{
  color:#22c55e;
  font-weight:bold;
}

button{
  background:#22c55e;
  border:none;
  padding:8px 12px;
  border-radius:8px;
  color:black;
  font-weight:bold;
}

.menu{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#111827;
  padding:10px;
  border-top:2px solid #22c55e;
}

.menu button{
  background:none;
  color:white;
  font-size:12px;
    }
